html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.owl-carousel {
  width: 100vw !important;
}

.ola-navbar {
    top: 0px;
    transition: all 0.3s ease;
    background: black;
}

.nav-link {
    font-weight: 500;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.slider1 {
    position: relative;
}

.owl-nav {
    font-size: 60px;
}

.slider1.owl-carousel .owl-nav button.owl-prev {
    color: rgb(0, 0, 0);
    top: 50%;
    right: 95%;
    position: absolute;
}

.slider1.owl-carousel .owl-nav button.owl-next {
    color: rgb(0, 0, 0);
    top: 50%;
    left: 95%;
    position: absolute;
}

.slider1 .item {
    height: 100vh;
}

.slider1 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:768px){

.slider1 .item {
  height: 60vh;}
}

.slider1 {
  position: relative;
}

.slider1 .owl-dots {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  display: block !important;
}

.slider1 .owl-dots .owl-dot {
  display: inline-block !important;
}

.slider1 .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: rgb(191, 168, 168) !important;
  border-radius: 50%;
  display: block;
}

.slider1 .owl-dots .owl-dot.active span {
  background: rgb(82, 79, 79) !important;
}

.conb{
  background-color: rgb(14, 10, 43);
  color: white;
  padding: 120px 120px;
}

@media(max-width:1200px){

.conb{
  padding: 20px 20px;
}
}

.hbl{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 120px 120px;
}

.city-card {

  background: #f5f7f7;
  border-radius: 15px;

}

.city-card button {

  width: 40px;
  height: 40px;

}


